.Header {
  display: flex;
  justify-content: space-between;
}
.Header h3 {
  font-size: 1.5em;
}
.Header button {
  font-size: 1.5em;
  margin: 6px;
  background-color: blue;
  color: aliceblue;
  padding: 0.2em;
  border-radius: 10px;
}